	<div id="footerDiv">

		<ul class="contactIcons">
			<li><a href="mailto:<%= email %>">										<i class="mail icon big">				</i></a></li>
			<li><a href="javascript:void(0);" onclick="showOrHide()">				<i class="send icon big">				</i></a></li>
			<li><a href="https://www.linkedin.com/in/lindsayelia" target="blank">	<i class="linkedin square icon big">	</i></a></li>
			<li><a href="https://github.com/LindsayElia" target="blank">			<i class="github icon big">				</i></a></li>
			<li><a href="http://codepen.io/sflinz/" target="blank">					<i class="codepen icon big">			</i></a></li>
			<li><a href="https://twitter.com/USFlin" target="blank">				<i class="twitter icon big">			</i></a></li>
			<li><a href="https://www.pinterest.com/usflin/" target="blank">			<i class="pinterest icon big">			</i></a></li>
		</ul>


<!-- This is the only section that differs from the footer used on all other pages -->
<!-- Figure out how to DRY this up. -->
		<div class="footerBlurb">
			<p class="paragraph-footer">Site design and construction by Lindsay Elia - San Francisco, CA - 2015.</p>
			
			<p class="paragraph-footer">The curlicue animation effect on this page is attributed to <a href="http://codepen.io/tholman/pen/EpfLs/" target="blank">Tim Holman's Codepen</a>.</p>
		</div>
<!-- ^^ this section ^^ -->


		<ul id="footerNavbar">
			<li><a href="/index">		Home		</a></li>
			<li><a href="/portfolio">	Portfolio	</a></li>
			<li><a href="/resume">		Resume		</a></li>
			<li><a href="/blog">		Blog		</a></li>
		</ul>

	</div> <!-- close <div id="footerDiv"> -->


<% include ../partials/olarkSnippet %>


</body>
</html>