<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Lindsay Elia | Full Stack Web Developer in San Francisco, CA</title>
	

	<!-- CSS -->

	<!-- normalize.css - to account for browser inconsistencies -->
	<link rel="stylesheet" href="css/normalize.css">

	<!-- semantic ui CSS - ICONS ONLY -->
	<link type="text/css" rel="stylesheet" href="css/icon.css">

	<!-- font from Adobe Typekit -->
	<script src="https://use.typekit.net/vmo7ubs.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<!-- my CSS -->
	<link rel="stylesheet" href="css/main.css">


	<!-- JavaScript -->

	<!-- jquery CDN -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<!-- only need to load this on home page -->
	<!-- 2D Matrix library for mouseover worms animation -->
	<!-- TO FIX - CLEAN THIS UP -->
	<script type="text/javascript" src="https://s.cdpn.io/277/matrix.js"></script>


	<!-- my javascript files -->
	<script src="js/main.js"></script>
	<script src="js/animateWorms.js"></script>

</head>

<body>
<div class="container-main-all-outer"> <!-- closing this div at the start of the footer files -->
