<div class="header-div">

	<div class="navbar-top">

		<!-- NOTE: putting logic here in the view is not best practice,
		would be better to extract it into a javascript file on the frontend
		but this is the easiest way for me to do this at the moment -->

		<% if (path === "/index"){ %>
			<span class="currentPage animated fadeInDown"><a href="/index">Home</a></span>
		<% } else { %>
			<span><a href="/index">Home</a></span>
		<% } %>

		<% if (path === "/portfolio"){ %>
			<span class="currentPage animated fadeInDown"><a href="/portfolio">Portfolio</a></span>
		<% } else { %>
			<span><a href="/portfolio">Portfolio</a></span>
		<% } %>

		<% if (path === "/resume"){ %>
			<span class="currentPage animated fadeInDown"><a href="/resume">Resume</a></span>
		<% } else { %>
			<span><a href="/resume">Resume</a></span>
		<% } %>

		<span><a href="/blog">Blog</a></span>

	</div>

</div> <!-- close <div id="topDiv"> -->