/******************************************
FONTS
******************************************/


/* also loading some fonts from Typekit in head of html */

/* not currently using these: */
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,500,700,800); Headings ?? */
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,900); body / content */

/* I seem to have access to general fonts of:; "Avenir Next","Avenir","Helvetica Neue",Helvetica,Arial, all with browser? */

/******************************************
COLOR PALETTE
******************************************/

/*

white with blue tint
#F7F8FA
rgb(247,248,250)

gray
#939097
rgb(147,144,151)

black
#000000

pea green / mellow yellow
#D6CC4E
rgb(214,204,78)

dark blue
#475865
rgd(71,68,101)



***************************** TO FIX *****************************
Remove colors not being used

teal
#008F7D

green
#7C812D

lighter gray for readability
using this on blog pages for tags background color
#BEBDBB

old 'medium' gray for readability
using this on blog pages for h2s & h4s
#838280

slightly darker gray 
for navbar text, on top of yellow background
#454544

*/



/************************************************************************************
									BASE STYLES
************************************************************************************/

* {
	box-sizing: border-box;
}

body {
	font-family: "Avenir Next","Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em;
	background-color: #F7F8FA;  /* white with blue tint */
}

.clearfix {
	display: inline-block;
}

.clearfix::after {
    content: “ ”;
    display: table;
    clear: both;
}

h1, 
h2,
h3 {
	font-weight: normal;
	margin: 0;
}

ul>li {
	color: #939097;  /* gray */
}


/******************************************
ICONS
******************************************/

.boxy>.icon {
	color: #475865;  /* dark blue */
	margin: 0;
}

.contact-icons>.icon {
	color: #D6CC4E;  /* pea green / mellow yellow */
	margin: 0;
}

i.icon {
	text-decoration: none;
}

/******************************************
LINKS - ALL PAGES
******************************************/

a {
	color: #D6CC4E;  /* pea green / mellow yellow */
	text-decoration: none;
}

a:hover {
	color: #F7F8FA;
	background-color: #939097;  /* gray */
}

.footer>a:hover {
	color: #F7F8FA;
}

/******************************************
LINKS - HOME PAGE
******************************************/

a.dark-link {
	color: black;
}

a:hover>.boxy{
	background-color: #D6CC4E;  /* pea green / mellow yellow */
}


/******************************************
BACKGROUND ANIMATION - HOME PAGE ONLY
******************************************/

#canvas { 
	display: none;
}


/************************************************************************************
									LAYOUT
************************************************************************************/



/******************************************
HEADER & NAVBAR
******************************************/

.container-main-all-outer {
	position: relative;  /* need to give a position: relative so we can give the
	elements on index page that we want to sit on top of the canvas a position: absolute */
}

.container-header-outer {
	background-color: #D6CC4E;  /* pea green / mellow yellow */
	border-bottom: 20px solid #939097;  /* gray */
	margin-bottom: 50px;
}

.container-header-inner {
	padding-top: 35px;
	text-align: center;
}

	.nav-container {
		padding: 0;
		margin: 0;
	}

	.nav-item {
		font-size: 1.2em;
		list-style: none;
		border-bottom: 2px solid #939097;  /* mid-gray */
	}

	.nav-item>a {
		padding-top: 8px;
		padding-bottom: 2px;
		color: #454544; /* dark-gray */
		display: block;
	}

	.nav-item>a:hover {
		color: #F7F8FA; 
	}

	.current-page {
		border-bottom: 2px solid #475865;  /* dark blue */
		font-weight: bold;
	}

	.current-page>a {
		color: #475865;  /* dark blue */
	}


/******************************************
CENTER AREA - ALL PAGES EXCEPT HOME PAGE
******************************************/

.container-main-content {
	margin: 0 auto;
	padding-bottom: 50px;
	min-height: calc(100vh - 490px);  /* to create a sticky footer */
}

.summary-section {
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 25px;
	text-align: center;
	max-width: 590px;
}


/******************************************
CENTER AREA - HOME PAGE ONLY
******************************************/

.container-logo-headshot,
.welcome-blurb  {
	margin: 0 auto;
	background-color: #F7F8FA;  /* white with blue tint */
	padding-left: 1em;  /* to give space from edges on smaller screens */
	padding-right: 1em;  /* to give space from edges on smaller screens */
	text-align: center;
}

	.logo {
		margin: 0 auto;
		max-width: 400px;
		padding-top: 1px;  /* to take care of collapsing vertical margins */
		padding-bottom: 1px;  /* to take care of collapsing vertical margins */
		padding-right: 16px;  /* to center text since font seems to be off-center */
		text-align: center;
		font-family: "acta-poster-swashes", sans-serif;
		font-size: 4em;
		color: #475865;  /* dark blue */
	}

	.headshot {
		display: block;
		margin: 0 auto 50px auto;
		max-width: 200px;
		text-align: center;
		border-radius: 50%;	
	}

.welcome-blurb {
	padding-bottom: 50px;
}

	.welcome-blurb>p {
		margin: 0;
		padding: 0 0 20px 0;
	}

.boxes-group {
	display: none;
}


/******************************************
FOOTER
******************************************/

.footer {
	background-color: #939097;  /* gray */
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 0.9em;
}

.contact-icons {
	margin-bottom: 0;
	padding: 0;
}

	.contact-icons>li {
		list-style: none;
		float: left;
		padding: 0 10px;
	}

.footer-blurb {
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
}

	.footer-blurb>p {
		padding: 0;
		margin: 0;
	}

.footer-navbar {
	margin-bottom: 0.5em;
	padding: 0;
}

	.footer-navbar>li {
		list-style: none;
		float: left;
		padding: 0 10px;
	}


/******************************************
PORTFOLIO PAGE
******************************************/

.container-project-group {
	text-align: center;
	padding-top: 1em;
	border-top: 0.5px solid #939097;   /*gray*/ 
	box-shadow: inset 0 9px 10px -11px rgba(147,144,151, 0.8);  /*gray*/ 
	}

	.column-one,
	.column-two {
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		max-width: 600px;	/* added so that resize happens as expected after
		addition of slick image carousel */
		padding: 1em;
		text-align: left;
	}

	.portfolio-image {
		border: 1px solid gray;
		max-width: 100%;
		height: initial;	/* added so that dots & arrows sit just below largest image
		in slide carouse group, with addition of slick image carousel */
	}


/******************************************
RESUME PAGE
******************************************/

.timeline-group {
	background: linear-gradient(to bottom, #F7F8FA, #475865);
	padding-bottom: 50px;
}

.section-heading {
	color: #475865;  /* dark blue */
	background-color: #F7F8FA;  /* white with blue tint */
	text-align: center;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;  /* needed for z-index to apply */
	z-index: 10;  /* to get these to appear on top of the vertical white line in center */
}

.timeline-blurb {
	padding: 20px;
	background-color: #F7F8FA;  /* white with blue tint */
	box-shadow: 0 10px 10px -5px rgba(0,0,0, .8);  /* black with some transparency */
}

	.timeline-heading {
		font-size: 1.2em;
	}

	.timeline-subheading {
		text-transform: uppercase;
		font-size: 1.2em;
	}

	.timeline-date {
		font-weight: 500;
		margin-bottom: 10px;
	}

.timeline-left,
.timeline-right {
	width: 80%;
	margin: 1em auto;
}




/************************************************************************************
									MEDIA QUERIES
************************************************************************************/

/* For IE support */
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}


@media (min-width: 425px) {

	.container-main-content {
		min-height: calc(100vh - 445px);  /* to create a sticky footer */
	}

}

@media (min-width: 499px) {

	/* HEADER */
	.container-header-outer {
		border-bottom: 10px solid #939097; /* gray */
	}
	
	.container-header-inner {
		width: 70%;
		margin: 0 auto;
	}

	.nav-item {
		display: inline-block;
		border-bottom: none;
		font-weight: normal;
	}

	.nav-item>a {
		padding: 10px 10px;
		margin-left: -4px;
		display: block;
	}

	.current-page {
		border-bottom: 10px solid #475865;  /* dark blue */
		margin-bottom: -10px;
		margin-left: -4px;
		font-weight: normal;
	}

	.current-page>a {
		color: #454544; /* dark-gray */
		margin-left: 0;
	}


	/******************************************
	ANIMATIONS - FROM http://daneden.me/animate
	******************************************/
	/*!
	Animate.css - http://daneden.me/animate
	Licensed under the MIT license - http://opensource.org/licenses/MIT
	Copyright (c) 2015 Daniel Eden
	*/

	@charset "UTF-8";

	.animated {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}

	@-webkit-keyframes fadeInDown {
	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	  }

	  to {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	  }
	}

	@keyframes fadeInDown {
	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	  }

	  to {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	  }
	}

	.fadeInDown {
	  -webkit-animation-name: fadeInDown;
	  animation-name: fadeInDown;
	}

	/* CENTER */
	.container-main-content {
		min-height: calc(100vh - 330px);  /* to create a sticky footer */
	}

	.logo {
		font-size: 5em;
	}

	.headshot {
		margin-bottom: 50px;
	}

	.welcome-blurb {
		padding-left: 2em;  /* to give space from animation */
		padding-right: 2em;  /* to give space from animation */
	}


}  /* end media query for min-width: 499px */



@media (min-width: 595px) {

	/* HEADER */
	.nav-item>a {
		padding: 10px 20px;
	}

	/* CENTER */
	.container-main-content {
		min-height: calc(100vh - 350px);  /* to create a sticky footer */
		max-width: 1000px;
	}

	/* FOOTER */
	.footer {
		font-size: 1em;
	}

	.footer-blurb {
		max-width: 500px;
		margin: 0 auto;
	}

	/* HOME PAGE */
	.container-logo-headshot {
		width: 650px;
		padding-top: 20px;  /* to give space from animation */
	}

		.logo {
			display: inline-block;
			vertical-align: bottom;
			position: relative;
			left: -65px;
		}

		.headshot {
			display: inline-block;
			margin-bottom: 0;
			position: relative;
			left: -20px;
		}

	.welcome-blurb {
		max-width: 650px;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 0;
	}

	.boxes-group {
		display: block; /* make visible */
		width: 240px;
		background-color: #F7F8FA;
		margin: 0.5em auto 50px auto;
		padding: 1px 1em;  /* top/bottom are to take care of collapsing vertical margins,
		left/right are to give space from the animation behind & keep box a square shape */
		text-align: center;
		font-size: 1.2em;
	}

		.boxy {
			/*max-width: 150px;*/
			margin: 40px 20px;
			border: 3px solid #939097;  /* gray */
			border-radius: 10px;
			padding: 30px 20px;
			
		}

	/* RESUME */
	.resume-content-container-outer {
		position: relative;
	}

	/* center bar CSS found on http://jeaniechung.com/#/cv */
	.resume-content-container-outer::before {
		content: "";
		position: absolute;
		left: 50%;
		margin-left: -4px;
		width: 8px;
		height: 100%;		/* for this to be 100% of containing element, not of the window viewport,
		need to give containing element a position: relative */
		background-color: rgba(214,204,78,0.5);
	}
	
	.timeline-left {
		width: 40%;
		margin-left: 2.5%;
	}

	.timeline-right {
		width: 40%;
		margin-left: 54%; 
	}

}  /* end media query for min-width: 595px */



/* tablet, landscape iPad, lo-res laptops ands desktops */
/* http://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */
/* display canvas in larger views only; it seems to break the page on mobile phones in landscape */
@media (min-width: 801px) {

	/*	BACKGROUND ANIMATION - HOME PAGE ONLY  */
	#canvas {
		display: inline-block;  /* make visible; this was the default display type */
		vertical-align: top;
		margin: 0px;
		background: rgb(247,248,250);  /* white with blue tint */
	}

		/*	TO GO WITH BACKGROUND ANIMATION - HOME PAGE ONLY  */
		.full-home-page-overlay {
			min-height: 1px; /* needs a height or else it doesn't display the canvas behind it */
			position: absolute;  /* this is absolutely positioned relative to its parent element */
			top: 0;
			left: 0;
			width: 100%;
			pointer-events: none; /* This lets the mouseover events skip over this element and affect
			the canvas element instead */
		}

			.full-home-page-overlay * {
				pointer-events: all;  /* We need all the child elements of this div to be affected 
				by mouse events, such as links, so they work */
			}

	/* PORTFOLIO */
	.column-one {
		float: left;
		width: 50%;
		padding: 2em;
		padding-right: 1.5em;
	}

		.column-two {
			float: right;
			width: 50%;
			padding: 2em;
			padding-left: 1.5em;
		}

} /* end media query for min-width: 801px */




