/******************************************
FONTS
******************************************/

/* 
***************************** TO FIX *****************************
Am I using all of these fonts?
Remove ones not being used for page load time */

/* also loading some fonts from Typekit in head of html */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,500,700,800); /* Headings ?? */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,900); /* body / content */


/* I seem to have access to general fonts of:; "Avenir Next","Avenir","Helvetica Neue",Helvetica,Arial, all with browser? */

/******************************************
COLOR PALETTE
******************************************/

/*

***************************** TO FIX *****************************
Remove colors not being used

white with blue tint
#F7F8FA
rgb(247,248,250)

mid-gray, purple tone
#939097

black
#000000

pea green / mellow yellow
#D6CC4E

green
#7C812D

teal
#008F7D

dark blue
#475865


lighter gray for readability
using this on blog pages for tags background color
#BEBDBB

old 'medium' gray for readability
using this on blog pages for h2s & h4s
#838280

slightly darker gray 
for navbar text, on top of yellow background
#454544

*/



/************************************************************************************
									BASE STYLES
************************************************************************************/

* {
	box-sizing: border-box;
}

body {
	font-family: "Avenir Next","Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em;
	background-color: #F7F8FA;
}

.clearfix::after {
    content: “”;
    display: table;
    clear: both;
}


/******************************************
ICONS
******************************************/

.boxy>.icon {
	color: #475865; 
	/* dark blue */
}

.contact-icons>.icon {
	color: #D6CC4E;  /* pea green / mellow yellow */
}

i.icon {
	text-decoration: none;
}

/******************************************
LINKS - ALL PAGES
******************************************/

a {
	color: #D6CC4E;  /* pea green / mellow yellow */
	text-decoration: none;
}

a:hover {
	color: #F7F8FA;
	background-color: #939097;
}

.footer>a:hover {
	color: #F7F8FA;
}

/******************************************
LINKS - HOME PAGE
******************************************/

a.dark-link {
	color: black;
}

a:hover>.boxy{
	background-color: #D6CC4E;  /* pea green / mellow yellow */
}


/******************************************
BACKGROUND ANIMATION - HOME PAGE ONLY
******************************************/

#canvas { 
	display: none;
}


/************************************************************************************
									LAYOUT
************************************************************************************/



/******************************************
HEADER & NAVBAR
******************************************/

.container-main-all-outer {
	position: relative;  /* need to give a position: relative so we can give canvas child element a position: absolute */
}

.container-header-outer {
	background-color: #D6CC4E;  /* pea green / mellow yellow */
	border-bottom: 20px solid #939097;  /* gray */
	margin-bottom: 50px;
}

.container-header-inner {
	padding-top: 35px;
	text-align: center;
}

	.nav-container {
		padding: 0;
		margin: 0;
	}

	.nav-item {
		font-size: 1.2em;
		list-style: none;
		border-bottom: 2px solid #939097;  /* mid-gray */
	}

	.nav-item>a {
		padding-top: 8px;
		padding-bottom: 2px;
		color: #454544; /* dark-gray */
		display: block;
	}

	.nav-item>a:hover {
		color: #F7F8FA; 
	}

	.current-page {
		border-bottom: 2px solid #475865;  /* dark blue */
		font-weight: bold;
	}

	.current-page>a {
		color: #475865;  /* dark blue */
	}


/******************************************
CENTER AREA - ALL PAGES EXCEPT HOME PAGE
******************************************/

.main-content {
}


/******************************************
CENTER AREA - HOME PAGE ONLY
******************************************/

.logo {
	margin: 0 auto;
	width: 400px;
	padding-top: 1px;  /* to take care of collapsing vertical margins */
	padding-bottom: 1px;  /* to take care of collapsing vertical margins */
	padding-right: 16px;  /* to center text since font seems to be off-center */
	text-align: center;
	font-family: "acta-poster-swashes", sans-serif;
	font-size: 5em;
	color: #475865;  /* blue */
}

.headshot {
	display: block;
	margin: 0 auto 50px auto;
	max-width: 200px;
	text-align: center;
	border-radius: 50%;	
}

.welcome-blurb {
	max-width: 550px;
	margin: 0 auto;
	background-color: #F7F8FA;  /* white with blue tint */
	padding-left: 1em;  /* to give space from edges on smaller screens */
	padding-right: 1em;  /* to give space from edges on smaller screens */
	text-align: center;
}

	.welcome-blurb>p {
		max-width: 550px;
		background-color: #F7F8FA;
		margin: 0;
		padding: 0 0 20px 0;
	}

.boxes-group {
	max-width: 240px;
	background-color: #F7F8FA;
	margin: 0 auto;
	padding: 20px;
	position: relative; /* this lets me place the content over the canvas element */
	top: 160px;  /* this lets me place the content over the canvas element */
	left: 14px; /* this lets me place the content over the canvas element  */
}


	.boxy {
		/*max-width: 150px;*/
		margin: 40px 20px;
		border: 3px solid #939097;
		border-radius: 10px;
		text-align: center;
		padding: 30px 20px;
		font-size: 1.2em;
	}


/************************************************************************************
									MEDIA QUERIES
************************************************************************************/

@media (min-width: 499px) {

	.container-header-outer {
		border-bottom: 10px solid #939097; /* gray */
	}
	
	.container-header-inner {
		width: 70%;
		margin: 0 auto;
	}

	.nav-item {
		display: inline-block;
		border-bottom: none;
		font-weight: normal;
	}

	.nav-item>a {
		padding: 10px 10px;
		margin-left: -4px;
		display: block;
	}

	.current-page {
		border-bottom: 10px solid #475865;  /* dark blue */
		margin-bottom: -10px;
		margin-left: -4px;
		font-weight: normal;
	}

	.current-page>a {
		color: #454544; /* dark-gray */
		margin-left: 0;
	}


	/******************************************
	ANIMATIONS - FROM http://daneden.me/animate
	******************************************/

	/*!
	Animate.css - http://daneden.me/animate
	Licensed under the MIT license - http://opensource.org/licenses/MIT

	Copyright (c) 2015 Daniel Eden
	*/

	@charset "UTF-8";

	.animated {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}

	@-webkit-keyframes fadeInDown {
	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	  }

	  to {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	  }
	}

	@keyframes fadeInDown {
	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(0, -100%, 0);
	    transform: translate3d(0, -100%, 0);
	  }

	  to {
	    opacity: 1;
	    -webkit-transform: none;
	    transform: none;
	  }
	}

	.fadeInDown {
	  -webkit-animation-name: fadeInDown;
	  animation-name: fadeInDown;
	}



}


@media (min-width: 595px) {

	.nav-item>a {
		padding: 10px 20px;
	}

	/*	BACKGROUND ANIMATION - HOME PAGE ONLY  */
	#canvas {
		display: inline-block;  /* this was the default display type */
		vertical-align: top;
		margin: 0px;
		background: rgb(247,248,250);  /* white with blue tint */
	}

	/*	TO GO WITH BACKGROUND ANIMATION - HOME PAGE ONLY  */
	.full-home-page-overlay {
		opacity: 1; /* this overlays all of the home page content on top of the canvas, and lets us see the canvas behind it */
		height: 1px; /* needs a height or else it doesn't display the canvas behind it */
		position: absolute;  /* this is absolutely positioned relative to its parent element */
		top: 0;
		left: 0;
		width: 100%;
	}


}















/******************************************
FOOTER - ALL PAGES
******************************************/

/* portfolio page only */
.footer-not-home-page {
	opacity: 0.9;  
	background-color: #939097;
	height: 200px;
	top: 3200px;		/* This is the only difference - should be refactored. */
	left: 0;
	width: 100%;
}

.contact-icons {
	position: absolute;
	right: 0;
}

	.contact-icons>li {
		list-style: none;
		float: left;
		padding: 0 10px;
		margin-top: 10px;
		/*background-color: purple;*/
	}

.footer-blurb {
	position: absolute;
	right: 0;
	clear: both;
	margin-top: 80px;
	text-align: right;
	padding-right: 18px;
	/*background-color: blue;*/
}

	.footer-blurb>p {
		line-height: .5;	
	}

.footer-navbar {
	position: absolute;
	right: 0;
	margin-top: 160px;
	padding-right: 18px;
}

	.footer-navbar>li {
		float: left;
		list-style: none;
		padding-left: 25px;
	}


/******************************************
FOOTER - HOME PAGE
******************************************/

.footer {
	opacity: 0.9;  /* this lets animation work, albiet clunkily, behind it */
	background-color: #939097;
	height: 200px;
	clear: both;
	position: absolute; /* this lets me place the content over the canvas element */
	top: 1400px; /* this lets me place the content over the canvas element */
	left: 0;
	width: 100%;
}





/******************************************
RESUME PAGE
******************************************/

.timeline-summary-section {
	margin: 0 auto;
	padding: 100px 5% 25px 5%;
	text-align: center;
	max-width: 570px;
}

/* h1 */
.timeline-header {
	/*font-family: 'Railway', sans-serif;*/
	/*font-family: "Lato",sans-serif;*/
	font-weight: normal;
}


.resume-content-container-outer {
	background-color: #475865;  /* blue */
	/*margin-bottom: 200px;*/
}

/* center bar CSS found on http://jeaniechung.com/#/cv */
.resume-content-container-outer::before {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -5px;
	height: 250%;			/* TO FIX:;
							I doubled this so it would extend - not sure why it's not same height as element appears to me */
							/* breaks when screen is made smaller - to fix later */
							/* pushes bottom part of page out further - adds white space / moves away from bottom of page */
	width: 10px;
	/*background-color: #F7F8FA;*/
	
	background: linear-gradient(
					to bottom, 
					transparent 0, 
					#F7F8FA 8%, 
					#F7F8FA 92%, 
					transparent 100%
					);

	/*background: linear-gradient(to bottom,rgba(31,102,177,0) 0,#1f66b1 8%,#1f66b1 92%,rgba(158,21,15,0) 100%);*/
}

.resume-content-container-inner {
	width: 95%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.timeline-blurb {
	/*border: 2px solid gray;*/
	padding: 20px;
	background-color: #F7F8FA;
	box-shadow: 0 10px 10px -5px rgba(0,0,0, .8);
}

.timeline-left {
	width: 40%;
	margin-left: 2.5%;
}

.timeline-right {
	width: 40%;
	margin-left: 54%; 
}

.timeline-heading {
	font-size: 1.2em;
}

.timeline-subheading {
	text-transform: uppercase;
	font-size: 1.2em;
}

.timeline-date {
	font-weight: 500;
	margin-bottom: 10px;
}

.section-break {
	color: #F7F8FA;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #475865;  /* blue */
	width: 220px;
	position: relative;
	left: 41.5%;		/* TO FIX: this is not centered with summary section because 
						it's nested in more divs with more margins, etc than the summary section has */
}



/******************************************
PORTFOLIO PAGE
******************************************/

/* h1 & h2 */
.portfolio-header {
	/*font-family: 'Railway', sans-serif;*/
	/*font-family: "Lato",sans-serif;*/
	font-weight: normal;
	text-align: center;	
}

.portfolio-header-inline {
	display: inline;
	margin: auto 25px;
}

.portfolio-sub-heading {
	text-align: center;
}

.project-container {
	width: 90%;
	margin: 0 auto;
	max-width: 800px;
	margin-bottom: 100px;
}

.portfolio-underline {
	border-bottom: 3px solid #475865;   /* blue */
	/*height: 2px;*/
	/*background: radial-gradient(#475865, #F7F8FA);  /* blue, white */
}

.project-description {
	width: 80%;
	margin: 0 auto;
}


.portfolio-image {
	border: 1px solid gray;
}

.portfolio-image-wrapper {
	text-align: center;
}
























