<% include ../partials/header %>
<% include ../partials/header-navbar %>

<div class="container-main-content"> 

<p>Nothing to see here...this is the 404 Page. Try going back or <a href="/index">click here</a> to go home.</p>

</div>

<% include ../partials/footer %>
