<% include ../partials/header-tags %>
<% include ../partials/header-navbar %>

<div class="container-main-content"> 
	<div class="summary-section">
		<p>Nothing to see here...this is the 404 Page. Try going back or <a href="/index">click here</a> to go home.</p>
	</div>
</div>

<% include ../partials/footer-navbar %>
<% include ../partials/footer-tags %>
