<% include ../partials/header-tags %>

<% include ../partials/header-navbar %>



<div class="summary-section">
	<h1>Hire Me</h1>
	<p>I am a Software Engineer currently looking for a position as a Front End Developer, Full Stack Developer, or Support Engineer.</p>
	<p>I have 12+ years of professional experience, including three years collaborating with software engineers, and a strong background in design and creating customer empathy within a product team.</p>
	<p>My strengths include analytical thinking, attention to details, problem solving, and empathy.</p>
	<p>Resume details available as a <a href="pdf/Lindsay_Elia_Resume.pdf">PDF here</a> or at my <a href="https://www.linkedin.com/in/lindsayelia" target="blank">LinkedIn profile</a>.</p>
</div>


<div class="resume-content-container-outer">
	<div class="resume-content-container-inner">


		<!-- EDUCATION -->
		<h1 class="section-heading">Education</h1>
		<div class="timeline-group">
			
			<div class="timeline-blurb timeline-left">
				<div class="timeline-heading">Full Stack Immersive Graduate</div>
				<div class="timeline-subheading"><a href="http://www.galvanize.com/" target="blank">Galvanize Education</a></div>
				<div class="timeline-location">San Francisco, CA</div>
				<div class="timeline-date">Oct 2015</div>
				<div>Galvanize Education Diversity Scholarship Recipient</div>
			</div>

			<div class="timeline-blurb timeline-right">
				<div class="timeline-heading">B.A. Communication Studies, Cum Laude</div>
				<div class="timeline-subheading"><a href="https://www.usfca.edu/" target="blank">University of San Francisco</a></div>
				<div class="timeline-location">San Francisco, CA</div>
				<div class="timeline-date">May 2003</div>
				<div>University Scholar (academic based scholarship)</div>
			</div>

		</div>


		<!-- EMPLOYMENT -->
		<h1 class="section-heading">Employment</h1>
		<div class="timeline-group">

			<div class="timeline-blurb timeline-left">
				<div class="timeline-heading">Customer Support Engineer</div>
				<div class="timeline-heading">HR/Operations Coordinator</div>
				<div class="timeline-subheading"><a href="https://www.olark.com/" target="blank">Olark</a></div>
				<div class="timeline-location">San Francisco &amp; Palo Alto, CA</div>
				<div class="timeline-date">May 2012 to May 2015</div>
			</div>

			<div class="timeline-blurb timeline-right">
				<div class="timeline-heading">Marketing Coordinator</div>
				<div class="timeline-subheading"><a href="http://www.huntsmanag.com/" target="blank">Huntsman Architectural Group</a></div>
				<div class="timeline-location">San Francisco, CA</div>
				<div class="timeline-date">Jul 2011 to May 2012</div>
			</div>

			<div class="timeline-blurb timeline-left">
				<div class="timeline-heading">Project Administrator &amp; Marketing Assistant</div>
				<div class="timeline-subheading"><a href="http://rmw.com/" target="blank">RMW Architecture &amp; Interiors</a></div>
				<div class="timeline-location">San Francisco, CA</div>
				<div class="timeline-date">May 2008 to Jul 2011</div>
			</div>

			<div class="timeline-blurb timeline-right">
				<div class="timeline-heading">Project Administrator</div>
				<div class="timeline-subheading"><a href="http://www.fieldpaoli.com/" target="blank">Field Paoli Architects</a></div>
				<div class="timeline-location">San Francisco, CA</div>
				<div class="timeline-date">Jun 2005 to May 2008</div>
			</div>

			<div class="timeline-blurb timeline-left">
				<div class="timeline-heading">Resident Manager</div>
				<div class="timeline-subheading"><a href="http://www.academyart.edu/" target="blank">Academy of Art University</a></div>
				<div class="timeline-location">San Francisco, CA</div>
				<div class="timeline-date">Mar 2004 to Jun 2005</div>
			</div>

		</div>


		<!-- VOLUNTEER -->
		<h1 class="section-heading">Volunteer</h1>
		<div class="timeline-group">		

			<div class="timeline-blurb timeline-left">
				<div class="timeline-heading">Software Engineering Mentor</div>
				<div class="timeline-subheading"><a href="http://nodeschool.io/sanfrancisco/" target="blank">NodeSchool</a></div>
				<div class="timeline-location">San Francisco, CA</div>
				<div class="timeline-date">Jul 2015 to Current</div>
			</div>

			<div class="timeline-blurb timeline-right">
				<div class="timeline-heading">Board Member &amp; Web Chair</div>
				<div class="timeline-subheading">After Work Tennis Club of San Francisco</div>
				<div class="timeline-location">San Francisco, CA</div>
				<div class="timeline-date">May 2011 to Sep 2011</div>
			</div>

			<div class="timeline-blurb timeline-left">
				<div class="timeline-heading">Mentor &amp; Web Captain</div>
				<div class="timeline-subheading"><a href="http://www.teamintraining.org/gba/" target="blank">Team In Training/Leukemia &amp; Lymphoma Society</a></div>
				<div class="timeline-location">San Francisco &amp; Marin, CA</div>
				<div class="timeline-date">Jan 2009 to Jul 2009</div>
			</div>

		</div>


	</div>  <!-- close <div class="resume-content-container-inner"> -->
</div>  <!-- close <div class="resume-content-container-outer"> -->


<% include ../partials/footer-navbar %>

<% include ../partials/footer-tags %>


